/*
*************************************************

PROJECT NAME
General Screen Styles

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/


/*-------------------------------------------    
    Fonts     
-------------------------------------------*/



/*-------------------------------------------    
    Flag
	(Thanks Jeremy: http://adactio.com/journal/5429/)
-------------------------------------------*/
body:after { content: 'mini'; display: none; }



/*-------------------------------------------    
    Base     
-------------------------------------------*/
* { margin: 0; padding: 0; }
html { font-size: 62.5%; } /* for rems */
body { font: normal 62.5%/1.5 'Lato', sans-serif; color: #333; }


/* block level */

h1, .h1 { font: normal 4.2rem 'PT Mono', sans-serif; margin: 0 0 0.5em; }
h2, .h2 { font: normal 1.8rem 'PT Mono', sans-serif; margin: 0 0 1em; }
h3, .h3 { font: normal 1.5rem 'PT Mono', sans-serif; margin: 0 0 1em; }
h4, h5, h6, .h4, .h5, .h6 { font: normal 1.2rem 'PT Mono', sans-serif; margin: 0 0 1em; }

p, ul, dl, ol, table { font-size: 16px; font-size: 1.6rem; margin: 0 0 1.5em; }

form { margin: 0 0 1.5em; }

/* inline */

label { font-size: 1.6rem; }
input, select, textarea {  }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { }
input.empty::-webkit-input-placeholder, textarea.empty::-webkit-input-placeholder { color: red; }
input.empty:-moz-placeholder, textarea.empty:-moz-placeholder { color: red; }
.error { color: red; }

table { }
    td { padding: 0.25em 1em; border-top: 1px solid #aaa; }

em { font-style: italic; }
strong { font-weight: bold; }

mark { background: none; font-style: normal; }

video { width: 100%; height: auto; }

a { text-decoration: none; .transition(all, 0.25s, linear); color:#589b00; }
a:hover, a:focus { color: orange; }

img { display: block; max-width: 100%; }

a img { border: none; }

i { font-style: normal; }
b { font-weight: normal; }

abbr, abbr[title], acronym { font-size: 85%; letter-spacing: 0.2em; text-transform: uppercase; border: none; cursor: help; }

code { font: 1.4rem/1 Consolas, 'Courier New', Courier, monospace; color: #999; }

sub, sup { line-height: 0; }

::selection { background: #2a69c2; color: #fff; }
::-moz-selection { background: #2a69c2; color: #fff; }


/*-------------------------------------------    
    Global
-------------------------------------------*/
 
/* Phark Image Replacement - http://phark.typepad.com/phark/2003/08/accessible_imag.html */
.phark { display: block; text-indent: -9999px; background-position: 0 0; background-repeat: no-repeat; background-color: transparent; }

/* Trimming Outline in Firefox - http://snook.ca/archives/html_and_css/trimming_long_o  */
/*\*/ .phark-link { overflow: hidden; } /**/

/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */ 
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.offscreen { position: absolute; left: -9999px; display: block; }
.onscreen { left: 0; }

.hide { display: none; }

.no-bullets { list-style: none; }

.bulleted { list-style: disc; }

.uppercase { text-transform: uppercase; }

.rwd-break { display: block; }

.inner { width: 100%; max-width:960px; margin:0 auto; overflow: hidden; }

/*-------------------------------------------    
	Modules
-------------------------------------------*/

.banner { border-bottom:1px solid #fff; overflow: hidden; }

.banner .inner { position: relative; }

.banner-innards {padding-left:35px; width:85%; }

.banner-heading { margin-top:208px; color:#787775; text-transform: uppercase; font-size: 2.5rem; letter-spacing: 0.1em; }

.banner-content { font-size: 16px; font-size: 1.6rem; color:#8f8e8b; }

.banner-site-link { font-family: 'PT Mono', sans-serif; text-transform: uppercase; font-size: 13px; font-size: 1.3rem; }

.banner-site { text-transform: uppercase; font-family:'PT Mono', sans-serif; font-size: 14px; font-size: 1.4rem; letter-spacing: 0.2em; }

.banner-skills-feature { display:inline-block; margin:0.5em 0.5em 0 0; padding:0.4em; font-family: 'PT Mono', sans-serif; font-size:12px; font-size:1.2rem; text-transform: uppercase; letter-spacing: 0.2em; }

.banner-bomb { float:right; position:absolute; top:-20px; }

/*-------------------------------------------    
	Module Banner no-image
-------------------------------------------*/

.banner-right { width:50%; float:right; display:none; }

.oscillate-right-tab { text-align: right; }

.no-image { width:70%; overflow: hidden; float:right; }

.oscillate-right-tab .inner { padding-right:1.8em; background:url(/-/i/dash.png) no-repeat; background-size:3px; background-position: right 81px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  }

.oscillate-right-tab .banner-heading { margin-top: 208px; }

.oscillate-right-tab .banner-more { position:absolute; top:0; right:-220px; font-size: 11px; font-size: 1.1rem; height: 10px; }

.oscillate-right-tab .banner-more:before { content: ""; display: inline-block; background: #000; height: 84px; position: relative; width: 84px; box-shadow: -6px 6px 0 -1px #d4d3ce; right: 16px; }

.oscillate-right-tab .banner-more:after { content: ""; display: inline-block; border-left: 60px solid transparent; border-right: 60px solid transparent; border-bottom: 60px solid #b1b0ac; transform: rotate(225deg); -ms-transform: rotate(225deg); -webkit-transform: rotate(225deg); position: relative; left: -223px; top: 9px; }

.oscillate-right-tab .banner-more-link { position: relative; right: 200px; top:20px; font-family: 'PT Mono', sans-serif; text-transform: uppercase; }



/*-------------------------------------------    
	Module Banner With Image
-------------------------------------------*/

.banner-left .inner { padding-left:1.8em; }


.banner-left { width:70%; float:left; background:url(/-/i/dash.png) no-repeat; background-size:3px; background-position: 0px 81px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  }

.banner-left .banner-more { position:absolute; top:0; font-size: 11px; font-size: 1.1rem; height: 10px; }

.banner-left .banner-more:before { content: ""; display: block; background: #2d2c2d; height: 84px; position: relative; width: 84px; box-shadow: 6px 6px 0 -1px #d4d3ce; }

.banner-left .banner-more:after { content: ""; display: block; border-left: 60px solid transparent; border-right: 60px solid transparent; border-bottom: 60px solid #b1b0ac; transform: rotate(135deg); -ms-transform: rotate(135deg); -webkit-transform: rotate(135deg); position: relative; left: 3px; top: -68px; }

.banner-left .banner-more-link { position: relative; left: 20px; top:20px; font-family: 'PT Mono', sans-serif; text-transform: uppercase; }


/*-------------------------------------------    
	Intro
-------------------------------------------*/

.intro { text-align: center; }

.intro-logo { width:40rem; margin:4em auto 0.25em; }

.intro-logo-image { width:80%; }

.intro-pitch { font-size:13px; font-size:1.3rem; font-family:'PT Mono', sans-serif; text-transform: uppercase; margin-bottom:44px; letter-spacing: 0.1em; }

.intro-slogan { color:#808080; }

.intro-mail { margin-bottom:186px; }


/*-------------------------------------------    
	Pixelingo
-------------------------------------------*/

.pixelingo { background:#dfded9; }

.pixelingo .banner-site-link { color:#d12221; }

.pixelingo .banner-skills-feature { background:#d4d3ce;}

.pixelingo .banner-left .banner-more-link { color:#90908c; }


/*-------------------------------------------    
	NewsWorks
-------------------------------------------*/

.newsworks { background:#2c2c2c; }

.newsworks .banner-heading { color:#dcdcdc; }

.newsworks .banner-content { color:#878787; }

.newsworks .banner-skills-feature { background:#3a3a3a; color:#787775;}

.newsworks .banner-more:after { border-bottom: 60px solid #3c3c3c; }

.newsworks .banner-more:before { box-shadow: -6px 6px 0 -1px #2a2a2a; }

.newsworks .banner-more-link { color:#565656; }

.newsworks .banner-site { color:#5e5e5e; }




/*-------------------------------------------    
	Carolina Painting
-------------------------------------------*/

.cp { background: #3a3a3a; }

.cp .banner-heading { color:#fff; }

.cp .banner-skills-feature { background:#4b4b4b; color:#828b84; }

.cp .banner-more:after {  border-bottom: 60px solid #4b4b4b; }

.cp .banner-more:before { box-shadow: 6px 6px 0 -1px #393939; }

.cp .banner-left .banner-more-link { color:#535654; }

/*-------------------------------------------    
	$%$%$ %$%$%$
-------------------------------------------*/

.tc { background: url(/-/i/tc-back.png) repeat;  }

.strike { background:#022500; display:inline-block; color:transparent; }

.tc .banner-content { color:#fff;}

.tc .banner-skills-feature { background:#0bba01; }

.tc .banner-more:after { border-bottom: 60px solid #0bba01; }

.tc .banner-more:before { box-shadow: -6px 6px 0 -1px #098e01; }

.tc .banner-more-link { color:#fff; }

.tc .banner-site { color:#fff; }


/*-------------------------------------------    
	BearSkinRug
-------------------------------------------*/

.bear { background:#ededed; }

.bear .banner-skills-feature { background:#c7c7c7; }

.bear .banner-more:after {  border-bottom: 60px solid #c7c7c7; }

.bear .banner-more:before { box-shadow: 6px 6px 0 -1px #e8e8e8; }

.bear .banner-more-link, .bear .banner-heading, .bear .banner-site-link { color:#a08fa3; }


/*-------------------------------------------    
	Typedia
-------------------------------------------*/

.typedia { background:#494540; }

.typedia .banner-heading { color:#dcdcdc; }

.typedia .banner-skills-feature { background:#575048; color:#a4a4a4;}

.typedia .banner-more:after { border-bottom: 60px solid #575048; }

.typedia .banner-more:before { box-shadow: -6px 6px 0 -1px #45413d; }

.typedia .banner-site, .typedia .banner-more-link { color:#dcdcdc; }

/*-------------------------------------------    
	The Businessolgy Show
-------------------------------------------*/

.business { background:#3b3a3b; }

.business .banner-heading {color:#fff;}

.business .banner-skills-feature { background:#706f70; color:#fff; }

.business .banner-more:after {  border-bottom: 60px solid #706f70; }

.business .banner-more:before { box-shadow: 6px 6px 0 -1px #383738; }

.business .banner-site-link { color: #626162; }

.business .banner-more-link { color: #fff; }

.business .banner-skills { margin-bottom: 1.57em; }


/*-------------------------------------------    
	Innards
-------------------------------------------*/

.banner .innards { background:#000; color:#fff; overflow: hidden;  }

.innards-group { padding-left: 35px; font-size: 16px; font-size: 1.6rem; }

.innards-heading { font-size: 25px; font-size: 2.5rem; text-transform: uppercase; }

.innards-content { width:60%; }

.oscillate-right-tab .innards-content { margin:0 auto; }

.innards-code { padding-left:25px; }

.innards-code-image { border-radius: 5px; }

.closer { cursor: pointer; background:url(/-/i/plux.png) repeat; position:relative; top:25px; left:95%; height:22px; width:22px; opacity:0.2; }

.tc .innards-heading { display:inline-block; background:#fff;}

.caption { width: 70%; text-align: center; margin:0 auto 1.5em;}



/*-------------------------------------------    
	Footer
-------------------------------------------*/


.footer { text-align: center; font-size:13px; font-size: 1.3rem; font-family:'PT Mono', sans-serif; text-transform: uppercase;  }

.footer-email { margin:108px auto 42px; }

.footer-twitter { margin-bottom:42px; display:block; }

.footer-copyright { margin-bottom: 252px; } 

.at { position: relative; bottom: 3px; }


/*-------------------------------------------    
	Media Q's
-------------------------------------------*/



@media screen and(min-width: 400px) {

	.intro-logo-image { width:100%; }
}	

@media screen and(min-width: 950px) {

	.banner-left { width:50%; }

	.banner-right { display:block; }

	.oscillate-right-tab { text-align: center; }

	.no-image { width:53.6%; float:none; margin:0 auto; }

	.oscillate-right-tab .banner-heading { margin-top: 145px; }

	.oscillate-right-tab .banner-skills {margin-bottom: 120px; }
}

